body {
  font-family: "Roboto", sans-serif;
  color: rgb(25, 25, 25);
  background: rgb(85, 85, 85);
  padding: 0 0;
  margin: 0 0;
}

h1 {
  font-size: 4em;
  margin: 0 0;
  padding: 0 0;
}

h2 {
  font-size: 2em;
  margin: 0 0;
  padding: 0 0;
}

a {
  color: rgb(25, 25, 25);
  opacity: 0.5;
  font-size: 2em;
  text-decoration: none;
}

img {
  width: 38px;
}

#page {
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vh;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.container {
  margin: 5% 10%;
}

.row {
  display: flex;
  flex-direction: row;
}

.mt2 {
  margin-top: 1vh;
}

.mt3 {
  margin-top: 3vh;
}

.mb1 {
  margin-bottom: 0.5vh;
}

.mb2 {
  margin-bottom: 1vh;
}

.mb3 {
  margin-bottom: 3vh;
}

.mb4 {
  margin-bottom: 5vh;
}

.ml1 {
  margin-left: 0.5vw;
}

.ml2 {
  margin-left: 1vw;
}

.experiences {
  width: 70%;
  padding: 12px 12px;
}

.skills {
  width: 30%;
  padding: 12px 0;
}

.skill-section div {
  margin: 12px 0;
  /* padding: 2px 0; */
  opacity: 0.6;
}

.section div {
  line-height: 1.75;
}

.section-item {
  font-size: 1em;
}

.section-title {
  font-size: 1.2em;
  font-weight: bold;
}

.item-details {
  font-size: 0.9em;
  opacity: 0.6;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  margin: 0 5%;
}
